<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>
    <link rel='stylesheet' href='/css/style.css' /> 
    <%- include('./partials/head') %>

</head>

<body>
    <%- include('./partials/navBar') %>
    <h1>Editar producto</h1>
    <form action="/products/edit/<%=products.id%>" method="POST"> 
        <div>
            <label for="">Nombre</label>
            <input type="text" name="name" value="<%= products.name %> ">
        </div>
        <div>
            <label for="">Descripción</label>
            <input type="text" name="description" value="<%= products.description %>">
        </div>
        <div>
            <label for="">Precio</label>
            <input type="text" name="price" value="<%= products.price %>">
        </div>
        <p>
            <input type="file" name="image">
        </p>

        <label for="colors">Colores </label>
        <select name="colors">
            <% for (let i=0; i< colors.length; i++){ %>
            <% if (colors[i].id=== products.colors_id){ %>
            <option value="<%=colors[i].id%>" selected>
                <%=colors[i].name%>
            </option>
            <% } else { %>
            <option value="<%=colors[i].id%>" selected>
                <%=colors[i].name%>
            </option>
            <% } %>
            <%}%>
    </select>
    <br>
    <p> <button type="submit">Editar</button>
 
    <a  class="botonVolver" href="/products">Productos</a></p>
    </form>
</body>
</html>