<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>  
</head>
<body>
    
    <%- include('./partials/navBar') %>  
    
    <h1> Listado de productos</h1>

<ul>
    <% for (let i=0; i < products.length; i++){ %>
    <li>
        <a href="/products/<%= products[i].id%>">
        <%=products[i].name%>
    </a>
    </li>
    <%}%>
</ul>

    <footer>
        <%- include('./partials/footer') %>  
    </footer>
    
    
</body>
</html>