<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos </title>
    <%- include('./partials/head') %>  

</head>
<body>
    <%- include('./partials/navBar') %>  

    <h1><%= product.name %> </h1>    
    <br>
    <p>Descripción: <%= product.description %> </p>
    <p>Precio: <%='$'+ product.price %> </p>
    <p>Categoria: <%= product.category.name%> </p>
    <p>Color: <%= product.colors.name %> </p>
    <%# Aqui falta insertar el comando para mostrar la imagen del producto %> 
    <br>
    <section>
        <a  href="/product/edit/<%= product.id %>">
            <button>Editar</button>
        </a>

        <form action="/productos/delete/<% =products.id %> " method="POST">
        <button type="submit">Borrar</button>
        </form>
        </a>       
        <a  href="/product">
            <button>Volver</button>
        </a>
    </section>

</body>
</html>