<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>  
</head>
<body>
    
    <%- include('./partials/navBar') %>  
    <br>
    <main>
<h1> <%= products.name %> </h1> 
<br>
<h3>Descripción : <%= products.description %> </h3>
<h3>Precio : $ <%= products.price %> </h3>
<h3>Color : <%= products.color.name %> </h3>

<br>
<a  href="/products/edit/<%= products.id %> ">
    <button>Editar</button> 
</a>
<a  href="/products/delete/<%= products.id %> ">
    <button>Borrar</button> 
</a>

            


</main>
    <footer>
        <%- include('./partials/footer') %>  
    </footer>
    
    
</body>
</html>